@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;900&display=swap');

:root {
    --black-color: #000000;
    --main-color: #F9C521;
    --white-color: #FFFFFF;
    --dark-color: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    min-height: 100vh;
}

#boton-wp a {
    position: fixed;
    width: 4rem;
    height: 4rem;
    bottom: 4rem;
    right: 4rem;
    background-color: var(--main-color);
    color: #080808;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 100;
    transition: all 0.3s ease;

}

#boton-wp a i {
    margin-top: 1rem;
    font-size: 2rem;
}

#boton-wp a:hover {
    text-decoration: none;
    transform: scale(1.5);
}

.arrow {
    position: absolute;
    bottom: 2rem;
    color: var(--main-color);
    transition: all 0.3s ease;
    right: 50%;
    font-size: 1.5rem;
}

.arrow:hover {
    color: var(--main-color);
    text-decoration: none;
    transform: scale(1.5);
}

/* end of HEADER */

/* TOP */

.top {
    background-color: var(--black-color);
}

.top i {
    color: var(--main-color);
    font-size: .9rem;
}

.top a {
    color: var(--white-color);
    transition: all 0.3s ease;
    font-size: .9rem;
}

.top a:hover {
    color: var(--main-color)
}

/* end of TOP */

/* NAVBAR */

.navbar {
    color: var(--white-color);
    background-color: var(--black-color);
    transition: all 0.3s ease;
}

.navbar-nav .nav-link.active {
    color: var(--main-color);
}

.nav-link {
    color: var(--white-color);
}

.nav-link:hover {
    color: var(--main-color)
}

/* end of NAVBAR */

/* HERO */

.hero {
    flex-grow: 1;
}

.hero h1 {
    font-weight: 900;
}

.hero p {
    font-size: 1rem;
}

.hero img,
.productos-destacados img {
    transition: all 0.3s ease;
    filter: drop-shadow(0px 0px 20px rgba(255, 122, 0, 0.8));
}

.hero img:hover,
.productos-destacados img:hover {
    scale: 1.08;
}

.btn-primary,
.btn-primary:first-child:active {
    color: var(--black-color);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background-color: var(--main-color);
    border: 2px solid #F9C521;
    border-radius: 60px;
    padding: 1rem 1rem;
    transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-outline-primary,
.btn-outline-primary:first-child:active {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--main-color);
    border-radius: 60px;
    padding: 1rem 1rem;
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    color: var(--black-color);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}

/* end of HERO */

/* PRODUCTOS DESTACADOS */

.productos-destacados {
    background-color: var(--dark-color);
}

.productos-destacados h2 {
    font-size: 1.5rem;
    position: relative;
}

.productos-destacados h2::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -1rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    background: var(--main-color);
    border-radius: 5px;
}

.productos-destacados i {
    color: var(--main-color);
}

/* end of PRODUCTOS DESTACADOS */

/* NOSOTROS */

.nosotros a {
    transition: all 0.3s ease;
    color: var(--white-color)
}

.nosotros a:hover {
    color: var(--main-color);
}

.nosotros i {
    color: var(--main-color);
}

/* end of NOSOTROS */


/* FOOTER */

footer {
    background-color: var(--black-color);
}

footer i {
    font-size: .9rem;
    color: var(--main-color);
}

footer a {
    color: var(--white-color);
    font-size: .9rem;
    transition: all 0.3s ease;
}

footer a:hover {
    color: var(--main-color)
}

/* end of FOOTER */