// PALETA DE COLORES

$black-color: #000000;
$main-color: #F9C521;
$white-color: #FFFFFF;
$dark-color: #121212;

// MODIFICANDO EL COLOR DE BOOTSTRAP

$primary: $main-color;

$theme-colors: (
    "primary": $primary,
);

// MAP DE COLORES

$colors: (
    main-color: $main-color,
    black-color: $black-color,
    white-color: $white-color,
    dark-color: $dark-color
);