// HEADER

.header {
    display: flex;
    flex-direction: column;
    position: relative;

    // TOP

    .top {

        background-color: map-get($colors, black-color);
        padding-block: .5rem;

        .row {
            justify-content: space-between;
        }

        i {
            font-size: .9rem;
        }

        a {
            @include text (map-get($colors, white-color), 400, .9rem);
            transition: all 0.3s ease;

            &:hover {
                color: map-get($colors, main-color);
            }
        }

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    // end of TOP

    // NAVBAR

    .navbar {
        color: map-get($colors, white-color);
        background-color: map-get($colors, black-color);
        transition: all 0.3s ease;

        .navbar-nav .nav-link.active {
            color: map-get($colors, main-color);
        }

        .nav-link {
            color: map-get($colors, white-color);

            &:hover {
                color: map-get($colors, main-color);
            }
        }

        @include media-breakpoint-down(lg) {
            text-align: center;
        }
    }

    // end of NAVBAR

    // WHATSAPP

    .boton-wp {

        a {
            position: fixed;
            width: 4rem;
            height: 4rem;
            bottom: 2rem;
            right: 2rem;
            background-color: map-get($colors, main-color);
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
            z-index: 100;
            transition: all 0.3s ease;

            &:hover {
                text-decoration: none;
                transform: scale(1.5);
            }
        }

        & i {
            color: map-get($colors, black-color);
            margin-top: 1rem;
            font-size: 2rem;
        }
    }

    // end of WHATSAPP

    // ARROW

    .arrow {

        text-align: center;
        padding-block: 4rem;


        i {
            color: map-get($colors, main-color);
            transition: all 0.3s ease;
            font-size: 2rem;

            &:hover {
                color: map-get($colors, main-color);
                text-decoration: none;
                transform: scale(1.5);
            }
        }
    }

    // end of ARROW

}

// end of HEADER