/* HEADER */

header {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    /* TOP */

    .top {

        background-color: map-get($colors, black-color);

        i {
            color: map-get($colors, main-color);
            font-size: .9rem;
        }

        a {

            color: map-get($colors, white-color);
            transition: all 0.3s ease;
            font-size: .9rem;

            &:hover {
                color: map-get($colors, main-color);
            }
        }

    }

    /* end of TOP */

    /* NAVBAR */

    .navbar {
        color: map-get($colors, white-color);
        background-color: map-get($colors, black-color);
        transition: all 0.3s ease;

        .navbar-nav .nav-link.active {
            color: map-get($colors, main-color);
        }

        .nav-link {
            color: map-get($colors, white-color);

            &:hover {
                color: map-get($colors, main-color);
            }
        }
    }

    .boton-wp {

        a {
            position: fixed;
            width: 4rem;
            height: 4rem;
            bottom: 4rem;
            right: 10rem;
            background-color: map-get($colors, main-color);
            border-radius: 50px;
            text-align: center;
            box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.75);
            z-index: 100;
            transition: all 0.3s ease;

            &:hover {
                text-decoration: none;
                transform: scale(1.5);
            }
        }

        & i {
            color: map-get($colors, black-color);
            margin-top: 1rem;
            font-size: 2rem;
        }
    }

    .arrow i {
        position: absolute;
        bottom: 3rem;
        color: map-get($colors, main-color);
        transition: all 0.3s ease;
        right: 50%;
        font-size: 2rem;

        &:hover {
            color: map-get($colors, main-color);
            text-decoration: none;
            transform: scale(1.5);
        }
    }
}

/* end of HEADER */