// BANNERS

.banners {
    .row {
        justify-content: space-around;
    }
}

.banner-1 {
    background-image: url('../../img/banners/banner-1.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 260px;
    border: 2px solid map-get($colors, main-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include media-breakpoint-down(lg) {
        width: 350px;
    }

    h3 {
        @include text (map-get($colors, white-color), 800, 2rem);
        text-align: center;
        text-transform: uppercase;
    }
}

.banner-2 {
    background-image: url('../../img/banners/banner-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 260px;
    border: 2px solid map-get($colors, main-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include media-breakpoint-down(lg) {
        width: 350px;
    }

    h3 {
        @include text (map-get($colors, white-color), 800, 2rem);
        text-align: center;
        text-transform: uppercase;

        span {
            @include text (map-get($colors, white-color), 800, 2rem);

            &::before {
                content: "\a";
                white-space: pre;
            }
        }
    }
}

.banner-3 {
    background-image: url('../../img/banners/banner-3.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 380px;
    height: 260px;
    border: 1px solid map-get($colors, main-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include media-breakpoint-down(lg) {
        width: 350px;
    }

    h3 {
        @include text (map-get($colors, white-color), 800, 2rem);
        text-align: center;
        text-transform: uppercase;

    }
}