// PRODUCTOS DESTACADOS

.producto {
    position: relative;
}

.fa-plus {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: map-get($colors, main-color);
    color: map-get($colors, black-color);
    border: 2px solid transparent;

    border-radius: 100%;
    font-size: 1rem;
    padding-block: .5rem;
    padding-inline: calc(.5rem + 1px);
    z-index: 1;
    cursor: pointer;

    &:hover {
        background-color: map-get($colors, black-color);
        color: map-get($colors, main-color);
        border: 2px solid map-get($colors, main-color);
    }
}